<h1>Vet Visit Details</h1>
<p>Date: <%= @vet_visit.date %></p>
<p>Description: <%= @vet_visit.description %></p>

<h2>Dog Information</h2>
<p>Name: <%= @vet_visit.dog.name %></p>
<p>Breed: <%= @vet_visit.dog.breed %></p>

